* {
  margin: 0;
  padding: 0;
}

html {

}

body {
}

.about {
  width: 100%;
  background-color: #1f1f1f;
  position: relative;
  z-index: 50;

  &__main {
    padding: 100px 8%;
    max-width: 1350px;
    margin: 0 auto;

    &-title {
      padding-left: 17px;
      padding-right: 17px;
      text-align: center;
      white-space: pre-wrap;

      h1 {
        font-family: futura-pt;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: 0.015em;
        text-decoration: none;
        line-height: 1.2em;
        color: #bdbdbd;

      }

      hr {
        color: white;
        width: 960px;
        height: 0;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: -113 px;
      }

    }
  }

  &__column {
    display: flex;
    justify-content: space-around;
    padding-top: 51px;

    &-list {
      display: flex;
      margin-right: 30px;
      flex-direction: column;
      width: 428px;
      height: 228px;

      h2 {
        font-family: inherit;
        color: #f0dbb7;
        font-size: 23px;
        font-weight: bold;
        text-align: center;
        margin-top: 15px;
        align-items: center;
      }

      p {
        color: white;
        font-family: proxima-nova;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        letter-spacing: .015em;
        line-height: 1.8em;
      }
    }
  }
}

.policies {
  &__btn {
    padding-bottom: 48px;
  }
    &__line{
      color: white;
      width: 960px;
      height: 0;
      margin-top: 20px;
      margin-bottom: 30px;
      margin-left: 395px;
    }

}
